

<!--- change profile picture page--->
{% extends "base.html" %}

{% block head %}
    <title>Update Information</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/changepp.css")}}">
    <!---<script src="{{ url_for("static",filename="js/changepp.js")}}"></script>--->


{% endblock %}

{% block main %}
<h1>Step 1: Upload</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit">
</form>
{% endblock %}