

<!--- our goal page --->
{% extends "base.html" %}

{% block head %}
    <title>Goal</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/goal.css")}}">
    <!---<script src="{{ url_for("static",filename="js/goal.js")}}"></script>--->

{% endblock %}

{% block main %}

    <div id="content1">
        <br>
        <h3>Our Goal</h3><br>
        <h6>
            In this high-speed revelations World, more and more information are passing thought internet.
            The upgrading of internet provide a better live stand for anyone in the world, also, someone need to catch up the
        process of revelations. I decided to design this online trade shopping flatform is to let users can buy or sell
        products at home and all done by internet, no need to go shopping on foot or rent a real shop to sell products under a
         high rental. These are the reason why i set up this web site. Hope you find enjoy and convenient here. Thank you for your support.</h6>
        <br>
        <h5>From Developer</h5>

    </div>

{% endblock %}